header .HeaderNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  background-image: url("/media/pro.jpg");
}

h1 {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  color: tomato;
  text-shadow: 0.07em 0.07em 0.05em black;
}

ul {

}

@media (max-width: 480px) {
  h1 {
    color: blue;
  }
}
