/*  background-image: url("/media/pro.jpg"); */

body {
  background-color: #121426;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 120%;
  font-weight: bold;
}

.SectionGrid {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.SectionGrid > header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #dedede;
}

.SectionGrid > aside {
  grid-area: sidebar;
  color: #dedede;
  border-radius: 5px;
  padding: 10px;
  background-color: #121426;
  border: 2px solid rgb(79,185,227);
}

.SectionGrid > .Content {
  grid-area: content;
  color: #dedede;
  border-radius: 5px;
  background-color: #121426;
  border: 2px solid rgb(79,185,227);
}

.SectionGrid > .Content > .BlogPreview {
  color: #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px 10px;
  background-color: #121426;
  border: 2px solid rgb(79,185,227);
}

.SectionGrid > footer {
  grid-area: footer;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
}

.HeaderLeft {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

.HeaderRight {
    color: #dedede;
    text-decoration: none;
    font-size: 18px;
}

.HeaderRight:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
  h1 {
    color: blue;
  }
}
